<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QCentro</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/styles.css">

</head>

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="parent">
      <img class="logo" src="../../assets/images/Frame.svg" style="position: relative; top: 0; left: 0; z-index: 999; width: 185px; left: 24px;top: 6px;" />
      <img class="bg" id="logoBg" src="" style="position: absolute; top: 85px; left: 0; z-index: 0; width: 270px; left: 3px;" />
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#first_tab">Who we are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#second_tab">How we work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#third_tab">Sectors we cater</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#fourth_tab">Our Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#fifth_tab">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#sixth_tab">Contact Us</a>
        </li>
        <li class="nav-item t-btn">
          <a href="#" class="btn btn-outline-dark" type="button">Talk to our expert</a>
        </li>
        <li class="nav-item">
          <div class="person">
            <img src="../../assets/images/person.png" alt="" class="p-img">
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Home -->
  <header class="showcase">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-10 col-sm-8 left-section">
            <img src="../../assets/images/line.png" alt="" class="hr-line">
            <p class="lead">
                Connecting Exceptional Professionals with Promising Opportunities
            </p>
            <div class="row">
                <div class="col">
                    <p class="sub-lead">
                        Finding the Right Talent Has Never Been Easier – We Handle the Heavy Lifting
                    </p>
                </div>
                <div class="col-1">
                    <img src="../../assets/images/bottom.png" alt="" class="bottom-right">
                </div>
            </div>
            <a href="#sixth_tab" class="btn btn-primary btn-xl">Contact Us</a>
        </div>
        <div class="col-md-2 col-xs-8 col-sm-6 right-section">
            <img src="../../assets/images/Decore.png" alt="" class="section-bg">
            <img class="secAnim" id="secCircle" src=""/>
            <img src="../../assets/images/student.png" alt="" class="student">
        </div>
      </div>
    </div>
  </header>

  <!-- WHO WE ARE -->
  <section class="who-we-are" id="first_tab">
    <div class="first_row row justify-content-center">
      <div class="who">Who</div>
      <div class="we">We</div>
      <div class="are">Are?</div>
    </div>
    <div class="second_row row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img src="" alt="" id="wwa">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="desc">
          Welcome to Qcentro, your trusted partner in B2B staffing solutions. We specialize in providing comprehensive staffing services tailored to meet the unique needs of businesses across various industries. With our expertise and dedication to excellence, we help companies thrive by connecting them with top talent.s your staffing partner, we take the time to understand your specific requirements, company culture, and industry dynamics. This allows us to identify candidates who possess the skills, experience, and mindset necessary to contribute to your organization's success. We leverage our extensive network and robust sourcing strategies to attract and engage top talent, ensuring that you have access to the best candidates in the market.
        </p>
      </div>
    </div>
  </section>

  <!-- HOW WE WORK -->
  <section class="how-we-work" id="second_tab">
    <div class="r1 row justify-content-center">
      <div class="how">How</div>
      <div class="we">We</div>
      <div class="work">Work?</div>
    </div>
    <div class="funny_man">
      <img class="f_man" src="../../assets/images/funny_man.png" alt="">
    </div>
    <div class="w_row row">
      <div class="col-md-12 col-sm-12 col-xs-12 ">
        <img src="../../assets/images/howwework.png" alt="" class="work">
      </div>
    </div>
    <div class="exp_grl">
      <img class="e_grl" src="../../assets/images/expressive.png" alt="">
    </div>
  </section>

  <!-- Our Clients -->
  <section class="clients-we-have" id="fourth_tab">
    <div class="client-heading row justify-content-center">
      <div class="clients">Clients</div>
      <div class="we">We</div>
      <div class="have">Have</div>
    </div>
    <div class="client-count">
      <div class="row grid-row justify-content-center">
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
      </div>
      <div class="row grid-row mid justify-content-center">
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
      </div>
      <div class="row grid-row justify-content-center">
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 rect"></div>
      </div>
    </div>
  </section>

  <section class="supercharge" id="fifth_tab">
    <div class="super">
      
    </div>
  </section>

  <!-- JS -->
  <script src="../../assets/scripts/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>

</html>